/*
Theme Name: Golden Years At Home
Theme URI: http://outsourcevietnam.co
Author: Creative Haus
Coded by: Outsource Vietnam
Description: outsourced by OSVN, on demand of CH
Version: 1.1
*/


@import url('http://fonts.googleapis.com/css?family=Raleway:600,800,700,900,400');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,500italic,500,400italic,700italic,700');
body {font-family: 'Raleway', sans-serif; font-size: 14px; line-height: 18px;color: #7b7b7b;background: #f9f6dd url(images/bg.jpg) top center repeat-x;font-weight: 600;}
#wrapper{overflow:hidden;width:100%;position:relative}
.container{max-width: 1082px;}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{font-weight: 700;}
a{color: #f37f6c;}
a:hover{color: #E4CB5E; text-decoration: none}

/* WP */
.wp-caption{margin-bottom:1.5em;text-align:center;padding-top:5px}
.wp-caption img{border:0 none;padding:0;margin:0}
.wp-caption p.wp-caption-text{line-height:1.5;font-size:10px;margin:0}
.wp-smiley{margin:0!important;max-height:1em}
blockquote.left{margin-right:20px;text-align:right;margin-left:0;width:33%;float:left;margin-top: 24px;}
blockquote.right{margin-left:20px;text-align:left;margin-right:0;width:33%;float:right;margin-top: 24px;}

/* Header */
header{}
header a:hover{text-decoration: none;}
header .login{ font-family: 'Roboto',sans-serif; display: block; width: 90px; padding-left: 35px; height: 30px; line-height: 32px; background: transparent url(images/icon-user.png) 11px 6px no-repeat; margin-top: 36px; font-weight: 500;}
header .login:hover{ color: #fff; background-color: #f37f6c; background-image: url(images/icon-user-hover.png); }
header .right{width: 100%; max-width: 213px;font-weight: 500;font-family: 'Roboto',sans-serif;margin-top: 23px;color: #23c978;padding-bottom: 14px;}
header .right form{position: relative;margin-bottom: 14px;}
header .right input[type="text"]{background: #fcfcd7;color: #f37f6c;font-style: italic; font-family: 'Roboto',sans-serif;border: 1px solid #fce7e3;padding: 0 35px 0 12px; height: 31px; line-height: 29px;}
header .right input[type="submit"]{font-size: 0px;position: absolute;background: #f37f6c url(images/icon-search.png) 11px 7px no-repeat;width: 35px; height: 29px; position: absolute; right: 1px; top: 1px; z-index: 9; border: none;}
header .right input[type="submit"]:hover{background-color: #E4CB5E;}
header .right .cart{ font-size: 20px; font-weight: 500; padding-left: 36px; line-height: 37px; background: rgba(0, 0, 0, 0) url(images/icon-cart.png) 0px 7px no-repeat; margin-bottom: 7px;}
header .right .cart:hover{background-color: #f37f6c; background-image: url(images/icon-cart-hover.png); padding: 0 15px 0 51px;color: #fff;background-position: 14px 7px;}
header .right .hotline{padding-left: 28px;line-height: 24px; background: url(images/icon-phone.png) 0px 2px no-repeat; font-size: 24px;  color: #23c978;margin-bottom: 8px;}
header .right .hotline:hover{color: #E4CB5E; background-image: url(images/icon-phone-hover.png);}
header .right span strong{font-weight: 700;}
header .logo{position: absolute; top: 26px; left: 50%; margin-left: -132px;}

/* Nav */
.navbar a:hover{text-decoration: none;}
.navbar-toggle{border: 1px solid #f37f6c;position:absolute;right:0;top: 171px;margin-top:0;background: #f37f6c;}
.navbar-toggle .icon-bar{background: #fff;}
.navbar-toggle:hover{background: #24cc7a;border-color: #24cc7a;}
.navbar-toggle:hover .icon-bar{background: #fff;}

/* Footer */
footer{color: #fff; font-weight: 700;}
footer .after-clear{background: #24cc7a;padding: 36px 23px 28px;}
footer a{color: #fff;}
footer a:hover{color: #E4CB5E;}
footer .menu{margin-left: 0px;}
footer .menu li{display: inline-block;}
footer .menu li:before{content:'|';margin: 0 2px 0 0;}
footer .menu li:first-child:before{display: none;}
footer{}

#slider{position: relative; z-index: 3;background: #fff;}
/* Index */
#index{padding-top: 27px;background: #fff;position: relative;z-index: 1;}
#index .row li{margin-bottom: 34px}
.fran-fav h4.title{line-height: 31px; padding: 26px 10px; color: #fff; text-align: center; background: #f37f6c; margin: 0 0 53px;;}
.fran-fav h4.title span{margin-right: 15px; display: inline-block; max-width: 137px;height: 30px;position: relative;width: 100%;}
.fran-fav h4.title img{border: 3px solid #f37f6c; position: absolute; top: -46px;left: 0;}
.add_to_cart_button, .added_to_cart{width: 112px; display: block; margin: 0 auto; line-height: 31px; font-weight: 800; text-transform: uppercase; background: #24cc7a;color: #fff;text-align: center;margin-top: 11px;}
.add_to_cart_button:hover, .added_to_cart:hover{background: #E4CB5E;color: #fff;}
#content .row .add_to_cart_button{margin-bottom: 55px;}
#content .added_to_cart{margin-top: -40px !important;}

.product-item{text-align: center;color: #7a7a7a; font-weight: 600; display: block; font-size: 18px; padding: 0 15px}
.product-item:hover{color: #e4cb5e}
.product-item .price{color: #7a7a7a;}
.product-item h3{font-weight: 600; font-size: 18px;margin-bottom: 23px;}
.product-item ins{text-decoration: none;}
#index .hover{max-width: 244px;}
#content .row .hover{max-width: 151px;}
#content .product-item h3{min-height: 38px}
.hover{display: block; position: relative; margin: 0 auto; }
.hover:before{content: '\f002'; font-family: 'FA'; font-size: 0; line-height: 22px; text-align: center; color: #fff; width: 100%; top: 50%; margin-top: -11px; position: absolute; left: 0px; z-index: 2}
.images .hover:before{content: '\f00e'}
.hover:after{content: ''; background: transparent; top: 50%; left: 50%; z-index: 1; width: 0px; height: 0px; position: absolute;}
.hover:hover:before{font-size: 28px;}
.images .hover:hover:before{font-size: 42px;}
.hover:hover:after{background: rgba(164, 121, 121, 0.5); top: 0; left: 0; width: 100%; height: 100%;}

.box-avatar{position: relative; padding-left: 330px; max-width: 1035px; width: 100%; padding-right: 30px; line-height: 24px;  margin-top: 34px;margin-bottom: 115px;}
.box-avatar .avatar{border: 9px solid #fff; position: absolute; left: 20px; top: 0px;}
.box-avatar h4{color: #f37f6c;line-height: 24px;margin-top: 5px;}
.box-avatar p{font-size: 16px;}

#main .content{background: #fff;position: relative;}
.about{padding-left: 340px;padding-top: 56px;padding-bottom: 45px;}
.about .text-content .title{margin-bottom: 17px}
.about .thumb{border: 6px solid #fff;position: absolute;left: 35px;top: 143px;}
.about .text-content{max-width: 630px;padding-right: 16px;}
.content-single{padding: 10px 78px 100px;}
.content-single .text-content h4{margin-bottom: 18px;margin-top: 36px;}

#content{padding: 0 15px; width: 690px;margin: 53px 0 106px 0;}
#content .fran-fav h4.title{padding: 11px 10px;margin-bottom: 95px;}
#content .fran-fav{background: #f9f7df;}

#sidebar .title{text-align: center; font-size: 16px; font-weight: 700; color: #fff; background: #24cc7a; line-height: 25px; padding: 19px 10px; }
#sidebar .w_content{border: 2px dashed #24cc7a;padding: 30px 18px 30px 30px;}
#sidebar h4{color: #24cc7a; font-size: 16px; font-weight: 800; text-transform: uppercase;margin-bottom: 19px;}
#sidebar .list{margin-bottom: 20px;}
#sidebar .list li a{color: #545454;}
#sidebar .list li a:hover{color: #24cc7a;font-weight: 700;}
#sidebar{width: 255px;margin: 53px 0 0 53px;margin-bottom: 107px;}

.contact .left{width: 459px;}
.contact .left p{line-height: 24px;}
.contact .left .hour{line-height: 24px;}
.contact .left span{font-weight: 400; font-size: 18px;}
.contact .left .call{font-size: 30px;}
.contact .left a{color: #7b7b7b}
.contact .left a:hover{color: #E4CB5E;}
.contact form{max-width: 300px; margin-left: 95px;width: 100%;}
.contact form .form-control{height: 35px; background: #eee; color: #000;padding-left: 14px; border: none; margin-bottom: 10px;}
.contact form textarea.form-control{height: 100px; margin-bottom: 25px;}
.contact input[type="submit"]{width: 114px; height: 37px; font-weight: 700; color: #fff; background: #f37f6c; border: none;}
.contact input[type="submit"]:hover{background: #E4CB5E}

.cat-list .hover{max-width: 150px;overflow: hidden;}
.cat-list h4{color: #717171;margin-top: 19px;line-height: 24px;margin-bottom: 27px;}
.cat-list h4:hover{color: #E4CB5E}
.cat-list li{width: 25%;text-align: center;display: inline-block; padding-right: 10px;}
.cat-list li a{display: block; max-width: 150px;}
.cat-list{font-size: 0;margin: 0 -10px 0 0;margin-bottom: 73px;}

#main .woocommerce-breadcrumb, #main .woocommerce-breadcrumb a{color: #f37f6c; font-weight: 700;padding-top: 19px;padding-bottom: 32px;}

#main .woocommerce-pagination.top{padding-bottom: 11px; border-bottom: 1px solid #9ce6c2;margin-bottom: 27px;}
#main .woocommerce-pagination.bottom{padding-top: 11px;border-top: 1px solid #9ce6c2;}
#main .woocommerce-pagination ul{font-size: 0px}
#main .woocommerce-pagination ul:before{content: 'Page '; font-size: 24px;color: #24cc7a;line-height: 24px;}
#main .woocommerce-pagination li{display: inline-block;}
#main .woocommerce-pagination li:before{content: ',';font-size: 24px; color: #24cc7a;line-height: 24px;display: inline-block;margin-right: 8px;}
#main .woocommerce-pagination li:first-child:before{display: none;}
#main .woocommerce-pagination a{font-size: 24px; color: #24cc7a;line-height: 24px;}
#main .woocommerce-pagination .current{font-size: 36px; color: #24cc7a; line-height: 18px;display: inline-block;font-weight: 700;}

.product .images{float: left;margin-right: 25px;}
.product .product_title{font-size: 30px; color: #7a7a7a;font-weight: 600;margin-bottom: 17px;}
.product .price{}
.product .summary  .price .amount{font-size: 39px; color: #7a7a7a;}
.product .summary{padding-top: 24px;}
.product .summary h4{color: #22c575; display: inline-block;border-bottom: 2px solid #22c575;padding-bottom: 8px;margin-bottom: 20px;}
.product .summary p{color: #767676;margin-bottom: 36px;}
.product .summary .price{
    margin-bottom: 37px;
}
.product .cart{color: #7a7a7a; font-size: 18px; line-height: 35px;}
.product .cart .quantity{display: inline-block;}
.product .cart .quantity input{width: 37px; height: 35px;background: #ececec;color: #7a7a7a; font-size: 18px; border: 1px solid #c7c6c6; text-align: right;margin: 0 9px 0 5px;}
.product .cart .single_add_to_cart_button{display: inline-block;width: 125px; height: 35px; font-size: 16px; font-weight: 800; background: #24cc7a; color: #fff; border: none;}
.product .cart .single_add_to_cart_button:hover{background: #E4CB5E}
.product .relative-title{color: #24cc7a;margin-top: 94px;font-weight: 600;margin-bottom: 14px;}


#login form{max-width: 314px; margin: 0 auto;}
#login .modal-content{max-width: 535px; min-height: 372px; width: 100%;background: url(images/login-form.jpg); text-align: center;}
#login .modal-dialog{max-width: 535px;margin: 15px auto;}
#login .modal-content h3{color: #f37f6c;margin-top: 52px;padding-bottom: 6px;margin-bottom: 0;font-weight: 800;}
#login .modal-content .form-control{height: 36px; border: none;font-weight: 700; color: #000; padding-left: 16px;margin-top: 17px;}
#login .modal-content .after-clear{margin-top: 9px;}
#login .modal-content a{font-size: 12px;}
#login .modal-content input[type="submit"]{background: #23c978; width: 94px; height: 33px; border: none; float: left;color: #fff; margin-top: 17px;}
#login .modal-content input[type="submit"]:hover{background: #f37f6c;}

#your-cart .modal-content{max-width: 927px;width: 100%;padding: 0 30px;background:#f7f7f7;}
#your-cart .modal-dialog{max-width: 927px;margin: 15px auto;width: 100%;}
#your-cart .modal-content table{width: 100%;}
#your-cart .modal-content table th{font-weight: 800; padding: 0 8px; vertical-align: middle; text-align: center;padding-bottom: 13px;}
#your-cart .modal-content table th[align="left"]{text-align: left;}
#your-cart .modal-content table.shop_table td{background: #fff; padding: 0 8px;font-size: 18px; vertical-align: middle}
#your-cart .modal-content img{margin-right: 22px;}
#your-cart .modal-content h2{color: #f38873;font-size: 30px; margin-top: 31px;font-weight: 800;margin-bottom: 33px;}
#your-cart .modal-content h3{color: #f38873;margin-bottom: 27px;font-size: 20px;}
#your-cart .modal-content h3 span{margin-left: 34px;}
#your-cart .modal-content .trash i{font-size: 21px; color: #7a7a7a; padding: 5px 10px; line-height: 21px;font-weight: 400;}
#your-cart .modal-content .trash i:hover{color: #fff; background: #f38873;}
#your-cart .modal-content .span{}
#your-cart .modal-content .btn{width: 171px; display: inline-block; line-height: 34px;background: #f38873;font-size: 18px; font-weight: 700; color: #fff;height: 34px;padding: 0;margin-bottom: 67px;}
#your-cart .modal-content .btn:hover{background: #E4CB5E;}

.text-content p{margin-bottom: 18px}
.text-content .title{text-transform: uppercase;margin-top: 67px;margin-bottom: 60px;}
.text-content h1,.text-content h2,.text-content h3{color: #f37f6c; font-weight: 600;line-height: 24px}
.about .text-content h4{color: #23ca79; line-height: 24px}


@media (max-width: 1199px){
	footer{text-align: center}
	footer .menu{width: 100%;}
	footer .copyright{width: 100%;}
	.contact form{margin-left: 0px;float: right;}
	#sidebar{margin-left: 25px}
	#content{width: 640px;}
}
@media (max-width: 991px){
	.contact .left{width: 100%; margin-bottom: 30px}
	.contact form{float: left}
	#content{width: 100%;margin-top: 0px;}
	#sidebar{width: 100%;margin-left: 0px;padding: 0 15px;margin-bottom: 0;}
}

@media (max-width: 768px){
	.navbar-toggle{display: block;}
	.navbar{position:absolute;top:0;right:0;margin:0;height:0;width:100%;min-height:0;padding:0;border:none}
	.navbar-main{top:0;right:-70%;position:absolute;width:70%;background:#222;z-index:900}
	.navbar-main.active{right:0}
	.navbar-main ul li{display:block;margin:0}
	.navbar-main #navbar{padding:0;margin: 0;}
	.navbar-main ul{margin: 0}
	.navbar-main ul li ul li{height: 0;overflow: hidden}
	.navbar-main ul li:hover ul li{height: 34px;}
	.navbar-main ul li a{color:#fff;font-size:14px;text-align:left;display:block;margin:0;padding: 0px 15px;line-height: 34px;text-decoration: none;}
	.navbar-main ul li a:hover{color:#38A19E;background:#3B3B3B}
	.navbar-main .close-btn{text-align:center;color:#38A19E;font-size:16px;cursor:pointer;padding:8px 0;background:#323232}
	#nav .container{position: static;}
	.navbar-main ul li li a:before,.navbar-main .menu > li > a:before{content: '';font-family: 'FA';font-size: 16px;  display: inline-block;  width: 25px;}
	
	#navbar .menu > li > a:before{content: '';font-family: 'FA';font-size: 16px;  display: inline-block;  width: 25px;}
	#navbar .menu > li:nth-child(1) > a:before{content: '\f015';}
	#navbar .menu > li:nth-child(2) > a:before{content: '\f07a';}
	#navbar .menu > li:nth-child(3) > a:before{content: '\f0c0';}
	#navbar .menu > li:nth-child(4) > a:before{content: '\f135';}
	#navbar .menu > li:nth-child(5) > a:before{content: '\f041';}
	header .logo{position: relative;float: left;left: 0;top: 0;margin: 26px 0 65px 0px;}
	header .login{position: absolute;margin-top: 0px;top: 174px;}

	.box-avatar{padding-left: 30px}
	.box-avatar .avatar{position: relative;left: 0;display: block;margin: 0 auto 30px;}
	.about{padding-left: 16px;}
	.about .thumb{position: relative; display: block; top: 0px; left: 0px;margin: 0 auto 55px;}
	.about .text-content{max-width: 100%}
	.content-single{padding: 10px 25px 100px}
}
@media (max-width: 695px){
	.product .images{width: 100%;margin: 0 0 25px;}
	.product .images .hover{max-width: 310px}
}
@media (max-width: 544px){
	header .logo{width: 100%; text-align: center;height: 128px;}
	header .right{max-width: 100%;text-align: center;}
	#content .cat-list li{width: 50%;}
}
@media (max-width: 420px){
	#content .fran-fav h4.title span{display: block;margin: 0 auto 80px;}
}
@media (max-width: 390px){
	#index h4.title span{display: block;margin: 0 auto 80px;}
	.about .thumb{width: 80%}
	#content .cat-list li{width: 100%;}
	#content .cat-list li a{margin: 0 auto;}
}
@media (max-width: 300px){
	.contact .left .call{font-size: 10vw;}
}
@media (min-width: 769px){
	.navbar{min-height: 0;margin: 0;}
	.navbar-main{max-height: 38px;background: url(images/menu.jpg) 0 0;}
	.navbar-main .menu{font-size: 0px; text-align: center;margin: 0;}
	.navbar-main .menu > li{display: inline-block;position: relative; z-index: 99;}
	.navbar-main .menu > li > a{display: block; line-height: 38px; color: #fff; text-transform: uppercase; font-weight: 700;font-size: 14px;padding: 0 10px;}
	.navbar-main .menu > li:hover > a{background: #f37f6c; }
	.navbar-main .menu .sub-menu{position: absolute; text-align: left; top: 38px; left: 0px;margin: 0;}
	.navbar-main .menu .sub-menu li{background: #f37f6c; height: 0px; overflow: hidden; width: 200px;}
	.navbar-main .menu .sub-menu li a{display: block;color: #fff; padding-left: 15px;font-size: 14px; line-height: 30px;}
	.navbar-main .menu .sub-menu li a:hover{text-decoration: none; background: #24ce7b;}
	.navbar-main .menu > li:hover li{height: 31px; border-bottom: 1px solid #24ce7b;}
	.navbar-main .close-btn{display: none;}
}

.navbar-main .menu > li.current-menu-item > a {
background: #f37f6c;
}
#slider .carousel-indicators .active {
background-color: #f37f6c !important;
}
#main .woocommerce-message{padding: 10px;background: #24cc7a;color: #FFF;}
.woocommerce-page .btn{float: right !important;margin-right: 5px !important;}
#your-cart .minus, #your-cart .plus, #your-cart .coupon, #your-cart .shipping_calculator{display: none;}
#your-cart .qty{width: 40px;height: 28px;}
#your-cart .modal-content .btn{float: right;margin-left: 5px;}
#your-cart .modal-content h3{float: right;}
#your-cart .cart-collaterals{margin-top: -10px;}