.relative{position:relative}
.absolute{position:absolute}
.block{display:block}
.inline-block{display:inline-block}
.clear{clear:both;width:100%;line-height:0;font-size:0;height:0;overflow:hidden}
.animation,a,button,input,#your-cart .modal-content .trash i{transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease}
.animation-all,.animation-all *,.hover:before,.hover:after,.cat-list h4{transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease}
.alignleft{float:left;margin-right:10px}
.alignright{float:right;margin-left:10px}
.aligncenter{margin:10px auto;display:block}
.hidden{display:none !important}
.fl{float: left}
.fr{float: right}
.res-img{max-width: 100%; height: auto}
.after-clear:after{content:'';display:block;clear:both;width:0;height:0;overflow:hidden}
header .right input[type="text"],.modal .modal-content,#login .modal-content .form-control,.contact .form-control{-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;}
.cat-list .hover,.cat-list .hover{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.fran-fav h4.title img,.box-avatar .avatar{-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;}
header .right input[type="text"]::-webkit-input-placeholder{color: #f37f6c;}
header .right input[type="text"]:-moz-placeholder{color: #f37f6c;}
header .right input[type="text"]::-moz-placeholder{ color: #f37f6c;}
header .right input[type="text"]:-ms-input-placeholder{ color: #f37f6c;}
#login .form-control::-webkit-input-placeholder{color: #484848;}
#login .form-control:-moz-placeholder{color: #484848;}
#login .form-control::-moz-placeholder{color: #484848;}
#login .form-control:-ms-input-placeholder{color: #484848;}

.contact .form-control::-webkit-input-placeholder{color: #474747;}
.contact .form-control:-moz-placeholder{color: #474747;}
.contact .form-control::-moz-placeholder{color: #474747;}
.contact .form-control:-ms-input-placeholder{color: #474747;}

#login .modal-content .form-control{-webkit-box-shadow: inset 3px 4px 5px 0px rgba(0, 1, 1, 0.15);
-moz-box-shadow:    inset 3px 4px 5px 0px rgba(0, 1, 1, 0.15);
box-shadow:         inset 3px 4px 5px 0px rgba(0, 1, 1, 0.15);}
.box-avatar .avatar{-webkit-box-shadow: 3px 4px 7px 0px rgba(0, 1, 1, 0.19);
-moz-box-shadow:    3px 4px 7px 0px rgba(0, 1, 1, 0.19);
box-shadow:         3px 4px 7px 0px rgba(0, 1, 1, 0.19);}

#slider,#index{-webkit-box-shadow: 3px 4px 16px 0px rgba(0, 1, 1, 0.14);
-moz-box-shadow:    3px 4px 16px 0px rgba(0, 1, 1, 0.14);
box-shadow:         3px 4px 16px 0px rgba(0, 1, 1, 0.14);}

.about .thumb{-webkit-box-shadow: 3px 4px 24px 0px rgba(50, 50, 50, 0.16);
-moz-box-shadow:    3px 4px 24px 0px rgba(50, 50, 50, 0.16);
box-shadow:         3px 4px 24px 0px rgba(50, 50, 50, 0.16);
transform: rotate(-5deg) scale(1) skew(1deg) translate(0px);
-webkit-transform: rotate(-5deg) scale(1) skew(1deg) translate(0px);
-moz-transform: rotate(-5deg) scale(1) skew(1deg) translate(0px);
-o-transform: rotate(-5deg) scale(1) skew(1deg) translate(0px);
-ms-transform: rotate(-5deg) scale(1) skew(1deg) translate(0px);
}

#sidebar .title{-moz-border-radius-topleft: 8px;
-webkit-border-top-left-radius: 8px;
 border-top-left-radius: 8px;
-moz-border-radius-topright: 8px;
-webkit-border-top-right-radius: 8px;
border-top-right-radius: 8px;}

@media (max-width: 768px){
	.navbar-main{transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease}
}
@media (min-width: 769px){
	.navbar-main{-moz-border-radius-topleft: 8px;
-webkit-border-top-left-radius: 8px;
 border-top-left-radius: 8px;
-moz-border-radius-topright: 8px;
-webkit-border-top-right-radius: 8px;
border-top-right-radius: 8px;}
}